<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hunter.blog.modules.front.dao.IFrontDao">
    <select id="getFrontConfig" parameterType="java.lang.String"
            resultType="com.hunter.blog.modules.front.model.FrontDo">
        select
        fro_id AS frontId,
        fro_key AS frontKey,
        fro_name AS frontName,
        fro_type AS frontType,
        fro_value AS frontValue
        from
        sys_front
        <where>
            <if test="frontKey != null and frontKey != ''">
                AND fro_key = #{frontKey}
            </if>
        </where>
        AND is_deleted = 1
    </select>
</mapper>