<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hunter.blog.modules.user.dao.IUserDao">
    <!--  根据用户ID获取用户信息  -->
    <select id="getUserInfoByUserId" parameterType="Integer" resultType="com.hunter.blog.modules.user.model.UserDo">
        select
        u_nickname AS userNickname,
        u_actualName AS userActualName,
        u_avatar AS userAvatar,
        u_birthday AS userBirthday,
        u_city AS userCity,
        u_signature AS userSignatrue,
        u_industry AS userIndustry,
        u_sex AS userSex
        from
        sys_user
        <where>
            <if test="userId != null and userId != ''">
                AND u_id = #{userId}
            </if>
            AND u_status = 1
        </where>
    </select>

    <!--  根据账号密码判断用户是否存在  -->
    <select id="findUserInfo" parameterType="com.hunter.blog.modules.user.model.UserDto"
            resultType="com.hunter.blog.modules.user.model.UserDto">
        SELECT
        u_id AS userId,
        u_avatar AS userAvatar
        FROM
        sys_user
        <where>
            <if test="userDto != null">
                AND u_name = #{userDto.userName} AND u_pwd = #{userDto.userPwd}
            </if>
            AND u_status = 1
        </where>
    </select>

    <!--  根据用户名称查找用户名是否存在 -->
    <select id="getUserByName" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
        count(1)
        from
        sys_user
        <where>
            <if test="userName != '' and userName != null">
                AND u_name = #{userName}
            </if>
            AND u_status = 1
        </where>
    </select>

    <!--  添加用户  -->
    <insert id="addUser" parameterType="com.hunter.blog.modules.user.model.UserDo">
        insert into sys_user(u_id,u_name,u_pwd,u_tel,u_nickname,u_actualName,u_birthday,u_sex,u_createTime)
        VALUES (null,#{userDo.userName},#{userDo.userPwd},#{userDo.userTel},#{userDo.userNickname},#{userDo.userActualName},#{userDo.userBirthday},#{userDo.userSex},#{userDo.userCreateTime})
    </insert>

    <!--  删除用户  -->
    <update id="delUserById" parameterType="java.lang.Integer">
        update sys_user set u_status = 0 where u_id = #{userId}
    </update>


</mapper>